.image-holder {
  width: 400px;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: 1px solid black;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.2;
}

.selection {
  position: absolute;
  overflow: hidden;
  border: 1px solid black;
}
